{% extends 'base.html.twig' %}

{% block meta %}
	{% for produit in produit %}
		<meta name="description" content="{{produit.produitDescription}}">
		<meta name="keywords" content="{{produit.marques.marqueNom}},{{produit.categories.CatNom}},{{produit.produitLibelle}},{{produit.typehm.TypeHmNom}},{{produit.produitPrix}}€">
	{% endfor %}
{% endblock %}
{% block title %}
	{% for produit in produit %}
		{{produit.marques.marqueNom}}
		-
		{{produit.categories.CatNom}}
		-
		{{produit.produitLibelle}}
		-
		{{produit.typehm.TypeHmNom}}
		-
		{{produit.produitPrix}}€
	{% endfor %}
{% endblock %}

{% block body %}
{% for produit in produit %}
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="row">
					{% for i in 0..(produit.produitImages | length - 1) %}
						<div class="col-lg-6 col-md-4 col-4 p-2">
							<div class="card">
								<img src="{{asset('build/images/theme/produit/'~ produit.produitImages[ i ].imageName[0:4])}}/{{produit.produitImages[ i ].imageName}}" class="img-fluid"></img>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
		<div class="col-lg-6 col-md-4 col-4 text-white">
			<div>
				<h5>{{produit.marques.marqueNom}}
					-
					{{produit.produitLibelle}}
					-
					{{produit.typehm.TypeHmNom}}
					-
					{{produit.produitPrix}}€
				</h5>
			</div>
			<div>
				<p class="text-danger">POUR LES COMMANDES D'UN MONTANT SUPÉRIEUR À € 29,99, LA LIVRAISON STANDARD EST TOUJOURS GRATUITE !
				</p>
			</div>
			<div>
				<p>
					Selectionnez votre taille - Guides des tailles
				</p>
			</div>
			<div>
				<button class="btn-danger">
					<label>
						<input class="custom-control-input " type="radio" name="pointure" value="38.5"><a style="margin: 10px">38.5</a>
					</label>
				</button>
			</div>
			<div class="text-white">
				<a href="{{path('addfast_to_cart', {'id' : produit.id})}}" class="btn btn-success">
					<i class="bi bi-cart-plus"></i>
					Ajouter
				</a>

				<p>
					Description :
					{{produit.produitDescription}}
				</p>
				<p>
					Couleur :
					{{produit.couleur.couleurNom}}
				</p>
				<p>
					Référence :
					{{produit.produitRef}}
				</p>
				<p>
					Catégorie :
					{{produit.categories.CatNom}}
				</p>
			</div>
		</div>
	</div>
</div>{% endfor %}{% endblock %}
