			<h4 class="text-white">Vendre</h4>
			<p>
				<a class="btn text-white dropdown-toggle" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
					<i class="fas fa-shopping-basket align-middle"></i>
					&nbsp;&nbsp;Commandes
				</a>
			</p>
			<div class="collapse" id="collapseExample">
				<ul class="text-white">
					<li class="nav-item">
						<a class="nav-link link-light" href="{{path('admin_commande')}}">Commandes</a>
					</li>
					<li class="nav-item">
						<a class="nav-link link-light" href="#content-factures">Factures</a>
					</li>
					<li class="nav-item">
						<a class="nav-link link-light" href="#content-avoirs">Avoirs</a>
					</li>
					<li class="nav-item">
						<a class="nav-link link-light" href="#content-bonlivraison">Bons de livraison</a>
					</li>
					<li class="nav-item">
						<a class="nav-link link-light" href="#content-paniers">Paniers</a>
					</li>
				</ul>
			</div>
			<p>
				<a class="btn text-white dropdown-toggle" data-bs-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1">
					<i class="fas fa-store align-middle"></i>&nbsp;&nbsp;Catalogue
				</a>
			</p>
			<div class="collapse" id="collapseExample1">
				<ul class="text-white">
					<li class="nav-item">
						<a class="nav-link link-light" href="{{path('admin_produits')}}">Produits</a>
					</li>
					<li class="nav-item">
						<a class="nav-link link-light" href="{{path('admin_categories')}}">Catégories</a>
					</li>
					<li class="nav-item">
						<a class="nav-link link-light" href="#content-suivi">Suivi</a>
					</li>
					<li class="nav-item">
						<a class="nav-link link-light" href="{{path('admin_attributs')}}">Attributs & caractéristiques</a>
					</li>
					<li class="nav-item">
						<a class="nav-link link-light" href="{{path('admin_marques')}}">Marques et fournisseurs</a>
					</li>
					<li class="nav-item">
						<a class="nav-link link-light" href="{{path('admin_cartecadeau')}}">Carte Cadeaux</a>
					</li>
					<li class="nav-item">
						<a class="nav-link link-light" href="{{path('admin_codepromo')}}">Réductions</a>
					</li>
					<li class="nav-item">
						<a class="nav-link link-light" href="#content-stocks">Stocks</a>
					</li>
				</ul>
			</div>
			<p>
				<a class="btn text-white dropdown-toggle" data-bs-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">
					<i class="fas fa-user-alt align-middle"></i>&nbsp;&nbsp;Clients
				</a>
			</p>
			<div class="collapse" id="collapseExample2">
				<ul class="text-white">
					<li class="nav-item">
						<a class="nav-link link-light" href="{{path('admin_utilisateurs')}}">Clients</a>
					</li>
					<li class="nav-item">
						<a class="nav-link link-light" href="{{path('admin_adresse')}}">Adresses</a>
					</li>
				</ul>
			</div>
			<p>
				<a class="btn text-white dropdown-toggle" data-bs-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample3">
					<i class="fas fa-comments align-middle"></i>&nbsp;&nbsp;SAV
				</a>
			</p>
			<div class="collapse" id="collapseExample3">
				<ul class="text-white">
					<li class="nav-item">
						<a class="nav-link link-light" href="#content-sav">SAV</a>
					</li>
					<li class="nav-item">
						<a class="nav-link link-light" href="#content-messages">Messages prédéfinis</a>
					</li>
					<li class="nav-item">
						<a class="nav-link link-light" href="#content-retours">Retours produits</a>
					</li>
				</ul>
			</div>
			<p>
				<a class="btn text-white" data-bs-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample4">
					<i class="fas fa-signal align-middle"></i>&nbsp;&nbsp;Statistiques
				</a>
			</p>