{% extends 'layout_admin.html.twig' %}


{% block title %}Liste des pages
{% endblock %}

{% block monTitre %}Liste des pages
{% endblock %}
{% block body %}
	<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
		<symbol id="check-circle-fill" fill="currentColor" viewbox="0 0 16 16">
			<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
		</symbol>
	</svg>
	<div class="col-10">
		{% for message in app.flashes('success') %}
			<div class="alert alert-success alert-dismissible fade show fixed-bottom text-center" role="alert">
				<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
				{{message}}
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endfor %}
		<div>
			Catalogue / Pages

			<h2>Pages</h2>
		</div>
		<ul class="nav justify-content-end">
					<li class="nav-item p-2">
				<a class="nav-link btn btn-info text-white" aria-current="page" href="{{path('creationPageInfo')}}">
					<i class="fas fa-plus-circle align-middle"></i>&nbsp;&nbsp;Ajouter un titre principal au page</a>
			</li>
			<li class="nav-item p-2">
				<a class="nav-link btn btn-info text-white" aria-current="page" href="{{path('creationPage')}}">
					<i class="fas fa-plus-circle align-middle"></i>&nbsp;&nbsp;Ajouter une page</a>
			</li>
			<li class="nav-item p-2">
				<a class="nav-link btn btn-secondary text-white" href="#">Module recommandé</a>
			</li>
			<li class="nav-item p-2">
				<a class="nav-link btn btn-secondary text-white" href="#">Aide</a>
			</li>
		</ul>
		<table class="table table-perso">
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Titre</th>
					<th scope="col">Parents</th>
					<th scope="col">Url Simplifié</th>
					<th scope="col">Bloque</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for page in page %}
					<tr>
						<td>{{page.id}}</td>
						<td>{{page.pageTitre}}</td>
						<td>{{page.pageinfo.id}}</td>
						<td>{{page.pageUrlSimple}}</td>
						{% if page.pageBloque == '0' %}
							<td>
								<a href="{{path('paddBloque',{'id': page.id})}}">
									<i class="fas fa-check text-success p-2"></i>
								</a>
							</td>
						{% else %}
							<td>
								<a href="{{path('paddBloque',{'id': page.id})}}">
									<i class="fas fa-times text-danger p-2"></i>
								</a>
							</td>
						{% endif %}
						<td>
							<a href="{{path('modifPage',{'id' : page.id})}}" class="col btn btn-warning">Modifier</a>
							<form method="post" class="col" action="{{path('supPage',{'id' : page.id})}}" onsubmit="return confirm('Voulez-vous vraiment supprimer')">
								<input type="hidden" name="_method" value="SUP">
								<input type="hidden" name="_token" value="{{csrf_token('SUP' ~ page.id)}}">
								<input type="submit" class="col btn btn-danger" value="supprimer">
							</form>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
</div>{% endblock %}
