<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% block meta %}
			<meta name="description" content="Un site e-commerce propulsé par le CMS Spotted en symfony">
			<meta name="keyword" content="Spotted,CMS,Symfony,e-commerce,site">
		{% endblock %}
		<meta name="robots" content="index"/>
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="theme-color" content="#110b23"/>
		<link rel="apple-touch-icon" href="{{asset('build/images/theme/favico/spotted.ico')}}">
		<title>
			{% block title %}
				Spotted - Chopes tes chaussures édition limité
			{% endblock %}
		</title>
		<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" rel="stylesheet">
		{{render(controller('App\\Controller\\ComponentController:fetchFavico'))}}
		{% block stylesheets %} 
			{{ encore_entry_link_tags('style') }} 
			{{ encore_entry_link_tags('customs') }} 
			<link href="https://fonts.googleapis.com/css?family=Merriweather:400,900,900i" rel="stylesheet">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
			<link rel="stylesheet" href="{{asset('build/print.css')}}" type="text/css" media="print">
		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
			<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>			
			<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
		{% endblock %}
		{% block stripe %}{% endblock %}
		{{render(path('navbar'))}}
		<!-- Modal -->
		{% if not app.user %}
			{{render(path('inscription'))}}
			{{render(path('connexion'))}}
		{% endif %}
	</head>
	<main>
		{% block body %}{% endblock %}
	</main>
	{{render(controller('App\\Controller\\ComponentController:fetchReseaux'))}}
	{{ encore_entry_script_tags('custom') }} 
</html>
{% block script %}{% endblock %}
