{% for flashMessage in app.session.flashbag.get('warning') %}
    <div class="alert alert-warning">
        <span class="fa fa-warning"></span> {{ flashMessage }}
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-danger">
        <span class="fa fa-warning"></span> {{ flashMessage }}
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success">
        <span class="fa fa-thumbs-o-up"></span> {{ flashMessage }}
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('info') %}
    <div class="alert alert-info">
        <span class="fa fa-info-circle"></span> {{ flashMessage }}
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('alert') %}
    <div class="alert alert-warning">
        <span class="fa fa-info-circle"></span> {{ flashMessage }}
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    </div>
{% endfor %}